:root {
    --bg: #d9b07e;
    --main-color: #008080;
    --black: #13131a;
    --border: 0.1rem solid rgba(255, 255, 255, 0.3);
    font-size: 10px;
}

*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    transition: 0.2s linear;
    font-family: "Roboto", sans-serif;
    list-style-type: none;
}

body {
    background-color: var(--bg);
}

section {
    padding: 3rem 2rem;
    margin: 0 auto;
    max-width: 1200px;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    border-bottom: var(--border);
    width: 100%;
    padding: 10px 4%;
    background-color: var(--bg);
    transition: top 0.3s ease-in-out;
} 

.header section{
    display: flex;
    justify-items: center;
    justify-content: space-between;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}

.logo {
    width: 5vw;
    object-fit: contain; /* Ou cover */
    object-position: center;
    cursor: pointer;
}

.navbar{
    display: flex;
    align-items: center;
}

.navbar a {
    margin: 0 1rem;
    font-size: 1.8rem;
    color: #fff;
}

.navbar a:hover {
    color: var(--main-color);
    border-bottom: var(--border);
    padding-bottom: 0.5;
    font-size: 2rem;
}

.icon img{
    margin: 1rem;
    cursor: pointer;
}

.icon img:hover {
    width: 35px;
    height: 35px;
}

.paragrafo {
    padding: 4rem 2rem;
    margin-top: 12rem;
    background-color: rgba(	180, 132, 83, 0.3);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    color: var(--black);
    font-size: 1.6rem;
    line-height: 3rem;
}

.paragrafo h1 {
    font-size: 2.4rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    color: var(--main-color);
}

.paragrafo p{
    font-size: 1.6rem;
    line-height: 2.6rem;
    color: var(--black);
    text-align: justify;
    margin-top: 1rem;
}