:root {
    --bg: #d9b07e;
    --main-color: #008080;
    --black: #13131a;
    --border: 0.1rem solid rgba(255, 255, 255, 0.3);
    font-size: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: var(--bg);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    border-bottom: var(--border);
    width: 100%;
    padding: 10px 4%;
    background-color: var(--bg);
    transition: top 0.3s ease-in-out;
}

.header section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 5vw;
    object-fit: contain;
    cursor: pointer;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar a {
    margin: 0 1rem;
    font-size: 1.8rem;
    color: #fff;
    text-decoration: none;
}

.navbar a:hover {
    color: var(--main-color);
    border-bottom: var(--border);
    padding-bottom: 0.5rem;
    font-size: 2rem;
}

.icon img {
    margin: 1rem;
    cursor: pointer;
}

.icon img:hover {
    width: 35px;
    height: 35px;
}

.homenagens {
    padding: 8rem;
}

.homenagens-titulo {
    font-size: 2.4rem;
    color: var(--main-color);
    margin-top: 4rem;
    margin-bottom: 3rem;
    text-align: center;
}

.homenagens-lista {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.card-homenagem {
    background-color: rgba(180, 132, 83, 0.4);
    display: flex;          /* imagem à esquerda, texto à direita */
    align-items: flex-start;
    width: 100%;
    max-width: 600px;
    padding: 2.5rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-top: 1.5rem;
}

.img-homenagem,
.placeholder-homenagem {
    flex-shrink: 0;
    margin-right: 1.5rem;
}

.img-homenagem {
    width: 180px;
    height: auto;
    border-radius: 8px;
}

.placeholder-homenagem {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: rgba(180, 132, 83, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.4rem;
    font-weight: bold;
    color: var(--main-color);
    box-shadow: 0 0 6px rgba(0,0,0,0.3);
    margin-right: 1.5rem;
}


.info-homenagem {
    flex: 1;
    display: flex;
    flex-direction: column; /* garante que h3 fique acima do p */
    text-align: left;
}

.info-homenagem h3 {
    font-size: 1.8rem;
    color: var(--main-color);
    margin-bottom: 0.5rem;
}

.info-homenagem p {
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: var(--black);
    text-align: justify;
    margin-top: 0.5rem;
}
